* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Doto", serif;
  background-color: black; /* Set background to black */
}

#loadingScreen {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: red; /* Set text color to red */
}

#loadingText {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}